[flake8]
max-line-length = 100
extend-ignore =
    E203,
    W503
exclude =
    .git,
    .venv,
    venv,
    __pycache__,
    build,
    dist,
    .eggs,
    *.egg-info,
    .idea
per-file-ignores =
    __init__.py:F401
